<nav class="nav-bar">
	<div class="menu nav-bar-left">
		<a href="/" class="menu-text">Assignment6</a>
	</div>
	<div class="menu nav-bar-middle">
		<form action="/search/" method="get">
			{% csrf_token %}
			<input type="search" name="search" placeholder="&#x2315; Search">
		</form>
	</div>
	
	<ul class="menu nav-bar-right">
		<a href="/messages">
			<i data-feather="message-square" class="post-icon"></i>
		</a>
		{% if user.is_authenticated %}
		<a href="/post">
			<i data-feather="plus-square" class="post-icon"></i>
		</a>
		{% verbatim %}
		<a v-on:click="toggleNotifications()">
			<i data-feather="heart" class="post-icon fill-white"></i>
		</a>
		{% endverbatim %}
		<a href="/u/{{user.get_username}}">
			<i data-feather="user" class="post-icon"></i>
		</a>
		
		{% else %}
		<li><button type="button" class="button">Log in</button></li>
		<li><button type="button" class="clear button">Sign Up</button></li>
		{% endif %}
	</ul>

	{% verbatim %}
	<div class="notification-container" v-if="showNotifications">
		<div class="notification" v-for="notification in notifications">{{ notification.notification }}</div>
		<span v-if="!hasNotifications" class="notification">You have no notifications</span>
	</div>
	{% endverbatim %}
</nav>


