{% extends "myapp/base.html" %}
{% block content %}
{% include "myapp/navbar.html" %}

<div class="upload">
    <form action="/post/" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="upload-image">
            {{ form.image }}
        </div>
        <div class="upload-options">
            <label class="is-invalid-label">‎‎‏‏‎{{ form.errors.as_text }} </label>
            {{ form.caption }}
            {{ form.location }}
            <input type="text" name="tag" id="tag" placeholder="Tag People">
            <input type="submit" class="button" value="Post">
        </div>
    </form>
</div>

{% endblock %}