{% extends "myapp/base.html" %}
{% block content %}
{% include "myapp/navbar.html" %}

<div class="upload">
    <div class="upload-image">

    </div>
    <div class="upload-options">
        <input type="button" class="button" value="Select Image">
        <input type="text" name="caption" id="caption" placeholder="Enter Caption">
        <input type="text" name="location" id="location" placeholder="Enter Location">
        <input type="text" name="tag" id="tag" placeholder="Tag People">
        <input type="submit" class="button" value="Post">
    </div>
</div>

{% endblock %}