{% extends "myapp/base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
{% include "myapp/navbar.html" %}
<div class="grid-x grid-padding-x">
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell" style="padding-top:75px">
    <h4 class="text-center">Edit Profile</h4>
    <form action="/profileedit/" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.errors }}
        {{ profileForm.errors }}
        {{ profileForm.email.label_tag }}
        {{ profileForm.email }}
        {{ profileForm.fullname.label_tag }}
        {{ profileForm.fullname }}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ profileForm.bio.label_tag }}
        {{ profileForm.bio }}
        {{ profileForm.profilePicture.label_tag }}
        {{ profileForm.profilePicture }}
        <input type="submit" class="button expanded" value="Update" />
    </form>
  </div>
</div>
{% endblock %}